*{
    padding: 0;
    margin: 0;
}
.body
{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    
    justify-content: center;
    background-color: gold;
    flex-wrap: wrap;
    position:absolute;
 align-content: center;
}

.score_board
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    background-color: white;
    margin-right: 10px;
    transition: all 2s ease;

}
.score_board>p
{
    display: flex;
    justify-content: center;
    
    align-items: center;
    width: 100%;
    height: 50%;
    text-align: center;
    border: 2px solid red;
    box-sizing: border-box;

}


main
{

    margin: 25px;
    background-color:white;
    width: 700px;
    height: 700px;
    border: 2px solid rgb(0, 60, 255);
    display: flex;
    flex-wrap: wrap;
    
}


.item
{

    background-color:rgb(255, 255, 255);

box-sizing: border-box;
    
    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    animation: grow 1s infinite;
    font-size: 1em;
    font-weight: 900;
}

@keyframes  grow {
    0%{
        font-size:1.1em;

    }
    50%{
        font-size: 1.2em;
    }
    100%
    {
        font-size: 1em;
    }
    
}

@media  screen and (max-width:800px) {
    main {
        width: 90vw;
        height: 90vw;
    }
    
}


.button_box
{
   


    background-color: green;
    width:200px;
    height: 180px;
    visibility: none;
    display:none;
    flex-wrap: wrap;
}

.up , .down
{
    width: 100%;
    height: calc(100% / 3);
    border: 0;
    
}
.left , .right
{
    color: white;
    box-sizing: border-box;
    background-color: black;
    
    width: 50%;
    height: calc(100% / 3);
    border: 2px white solid;
}



@media screen and (max-width:800px) {
    .button_box
    {
        display: flex;
    }
    
}

.navigation 
{
    background-color:gold;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.navigation>p{
    font-size: 1.4em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
    width: 150px;
    color: black;
}

.navigation>h1{
font-size: 3em;

    margin: 10px;
    width: 150px;
    text-shadow: 2px 2px 0 black;

}


